body {
    font-family: Arial, sans-serif;
    background-image: url(weatherpic.jpg);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.weather-container {
    background-color: rgb(0, 140, 255);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 30px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #333;
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    padding: 8px;
    margin-bottom: 10px;
}

button {
    padding: 10px;
    background-color: #494b49;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

